<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ASP.NET Core, Razor Pages, Docker & Azure</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
